.bookmarked-post{
    background: #FFFFFF;
    border-radius: 8px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.bookmarked-post p{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #111111;
}